@use '../../../styles/variables';
@use '../../../styles/functions' as *;

$block: '.#{variables.$ns}suggestions';

#{$block} {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--g-spacing-2) var(--g-spacing-2);
    align-self: stretch;
    flex-wrap: wrap;

    &_layout_grid {
        flex-direction: row;
    }

    &_layout_list {
        flex-direction: column;
    }

    &_layout_list &__button {
        width: 100%;
    }

    &__button {
        padding: spacing(2) spacing(4);
        height: 100%;
        box-shadow: none;

        .g-button__text {
            width: 100%;
        }
    }

    &__button-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: spacing(1);
        min-width: 0;

        &_text-align_left {
            justify-content: flex-start;
        }

        &_text-align_center {
            justify-content: center;
        }

        &_text-align_right {
            justify-content: flex-end;
        }
    }

    &__button-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 0;
    }

    &__button-icon {
        width: 16px;
        height: 16px;
        color: var(--g-color-text-hint);
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }
}
