{
    "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/prettier"],
    "root": true,
    "env": {
        "node": true,
        "jest": true,
    },
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.test.ts",
                    "**/*.test.tsx",
                    "**/*.spec.ts",
                    "**/*.spec.tsx",
                    "**/*.stories.tsx",
                    "**/playwright-ct.config.ts",
                    "**/playwright.config.ts",
                    "**/.storybook/**",
                    "**/jest.config.js",
                ],
            },
        ],
    },
}
