# IDE settings
.idea
.vscode

# Dependencies
node_modules/
.pnp
.pnp.js

# Tests
coverage/
.nyc_output/

# Production
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Storybook
storybook-static/

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Misc
.cache/
.temp/
.tmp/
