@use '../../../styles/variables';

$block: '.#{variables.$ns}submit-button';

#{$block} {
    display: flex;
    justify-content: center;
    align-items: center;

    &_loading {
        padding: 0;
        width: var(--_--height);
    }

    &__loader {
        display: flex;
    }

    &__spinner {
        --g-color-line-brand: var(--g-color-text-brand-contrast);
    }
}
