@use '../../../styles/variables';

$block: '.#{variables.$ns}user-message';

#{$block} {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-1);
    align-items: flex-end;
}

#{$block}_format_plain {
    white-space: pre-wrap;
}
