@use '../../../styles/variables';

.#{variables.$ns}empty-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--g-aikit-empty-container-background);

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        gap: var(--g-aikit-empty-container-content-gap);
        padding: var(--g-aikit-empty-container-padding);
    }

    &__welcome-section {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-6);
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-3);
    }

    &__image-container {
        display: flex;
        flex: 1;

        &_align {
            &_left {
                justify-content: flex-start;
            }

            &_center {
                justify-content: center;
            }

            &_right {
                justify-content: flex-end;
            }
        }
    }

    &__title,
    &__description {
        &_align {
            &_left {
                text-align: left;
            }

            &_center {
                text-align: center;
            }

            &_right {
                text-align: right;
            }
        }
    }

    &__suggestions-section {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-3);
    }

    &__suggestions-title {
        display: flex;
        padding: 0 var(--g-spacing-2);
        align-items: flex-start;
        gap: var(--g-spacing-2);
        align-self: stretch;
    }

    &__show-more {
        display: flex;
        justify-content: flex-start;
        padding-top: var(--g-spacing-2);
    }
}
