@use '../../../styles/variables';

$block: '.#{variables.$ns}message-list';

#{$block} {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    align-self: stretch;
    width: 100%;

    &__messages {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-4);
    }

    &__retry-button {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-1);
    }

    &__loader,
    &__error-alert {
        margin-top: var(--g-spacing-4);
    }

    &__load-trigger {
        display: flex;
        justify-content: center;
        padding: var(--g-spacing-2);
    }
}
