@use '../../../styles/variables';

$block: '.#{variables.$ns}message-list';

#{$block} {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-4);
    align-self: stretch;

    &__messages {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-4);
    }

    &__retry-button {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-1);
    }
}
