@use '../../../styles/variables';

$block: '.#{variables.$ns}context-indicator';

#{$block} {
    &__container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &_orientation {
            &_horizontal {
                flex-direction: row;
            }

            &_vertical {
                flex-direction: column;
            }
        }
    }

    &__progress {
        --percentage: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: conic-gradient(
            var(--ai-chat-line-brand, var(--g-color-line-brand)) 0deg,
            var(--ai-chat-line-brand, var(--g-color-line-brand)) calc(3.6deg * var(--percentage)),
            transparent calc(3.6deg * var(--percentage)),
            transparent 360deg
        );
        position: relative;
    }

    &__inner {
        box-sizing: border-box;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 50%;
        background: var(--ai-chat-base-background, var(--g-color-base-background));
    }

    &__value {
        color: var(--ai-chat-font-family, var(--g-color-text-primary));
        font-family: var(--ai-chat-text-body-font-family, var(--g-font-family-sans));
        font-size: var(--ai-chat-text-body-1-font-size, var(--g-text-body-1-font-size));
        font-style: normal;
        font-weight: var(--ai-chat-text-body-1-font-weight, var(--g-text-body-font-weight));
        line-height: var(--ai-chat-text-body-1-line-height, var(--g-text-body-1-line-height));

        &::after {
            content: '%';
        }
    }
}
