@use '../../../styles/variables.scss';

$block: '.#{variables.$ns}prompt-input';

#{$block} {
    border-radius: var(--g-border-radius-xl);
    border: 1px solid var(--g-color-line-generic);
    background: var(--g-color-base-float);
    overflow: hidden;

    &_view_simple {
        display: flex;
        flex-direction: column;
        padding: var(--g-spacing-1) var(--g-spacing-1) var(--g-spacing-1) var(--g-spacing-3);
    }

    &_view_full {
        display: flex;
        padding: var(--g-spacing-2);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--g-spacing-2);
    }

    &_view_full &__textarea {
        padding-top: 0;
    }

    &__content {
        display: flex;
        align-items: flex-end;
        gap: var(--g-spacing-2);
        width: 100%;
    }

    &__panel-wrapper {
        background: var(--g-color-base-simple-hover-solid);

        border-radius: var(--g-border-radius-xl);
    }

    &__panel {
        overflow: hidden;
        transition:
            max-height 0.3s ease-in-out,
            opacity 0.3s ease-in-out,
            margin 0.3s ease-in-out;
        will-change: max-height, opacity, margin;

        // Closed state
        max-height: 0;
        opacity: 0;
        margin: 0;

        // Open state
        &_open {
            max-height: var(
                --g-aikit-prompt-input-panel-max-height
            ); // Large enough value for most content
            opacity: 1;
        }

        // Animation works thanks to useDelayedUnmount hook:
        // - When isOpen=true, element is immediately added to DOM and animation plays
        // - When isOpen=false, _open class is removed, animation plays,
        //   then element is removed from DOM after transition completes (300ms)
    }

    &__suggestions-wrapper {
        align-self: stretch;
        flex: 1;
    }

    &__suggestions {
        padding-bottom: var(--g-spacing-2);
    }
}
