@use '../../../styles/variables';

@import '@diplodoc/transform/dist/css/yfm.css';

$block: '.#{variables.$ns}markdown-renderer';

#{$block} {
    max-width: 100%;
    color: var(--g-color-text-primary);
}
