@use '../../../styles/variables';
@use '../../../styles/functions' as *;

$block: '.#{variables.$ns}chat-content';

#{$block} {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background: var(--g-aikit-chat-content-background);
    align-items: flex-start;
    gap: var(--g-spacing-2);
    flex: 1 0 0;
    align-self: stretch;

    &__message-list-container {
        display: flex;
        padding: var(--g-spacing-2) var(--g-spacing-2) 0 var(--g-spacing-2);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--g-spacing-4);
        align-self: stretch;
        flex: 1;
        min-height: 0;
    }
}
