/**
 * Dark theme
 */

[data-theme='dark'] {
    --g-aikit-bg-secondary: #2a2a2a;
    --g-aikit-bg-message-user: #0066cc;
    --g-aikit-bg-message-assistant: #2a2a2a;

    --g-aikit-text-primary: #ffffff;
    --g-aikit-text-secondary: #999999;
    --g-aikit-text-message-user: #ffffff;
    --g-aikit-text-message-assistant: #ffffff;

    --g-aikit-border-color: #404040;
    --g-aikit-accent-color: #0077ff;

    --g-aikit-line-brand: var(--g-aikit-accent-color);
}
