/**
 * Light theme
 */

[data-theme='light'] {
    --g-aikit-bg-secondary: #f5f5f5;
    --g-aikit-bg-message-user: #0077ff;
    --g-aikit-bg-message-assistant: #f0f0f0;

    --g-aikit-text-primary: #000000;
    --g-aikit-text-secondary: #666666;
    --g-aikit-text-message-user: #ffffff;
    --g-aikit-text-message-assistant: #000000;

    --g-aikit-border-color: #e0e0e0;
    --g-aikit-accent-color: #0077ff;

    --g-aikit-line-brand: var(--g-aikit-accent-color);
}
