/**
 * CSS variables for library theming
 */

.g-root {
    /* === Colors === */
    --g-aikit-color-bg-primary: var(--g-aikit-bg-primary, var(--g-color-base-background));
    --g-aikit-color-bg-secondary: #f5f5f5;

    /* === Messages === */
    --g-aikit-color-bg-message-user: #0077ff;
    --g-aikit-color-bg-message-assistant: #f0f0f0;

    /* === Disclaimer === */
    --g-aikit-disclaimer-gap: 10px;

    /* === Suggestions === */
    --g-aikit-suggestions-box-shadow: 0 3px 10px rgba(198, 172, 255, 0.52);

    /* === Header === */
    --g-aikit-header-background: none;

    /* === Context Indicator === */
    --g-aikit-ci-color-progress-1: var(
        --g-aikit-ci-progress-1,
        var(--g-color-private-green-550-solid)
    );
    --g-aikit-ci-color-progress-2: var(
        --g-aikit-ci-progress-2,
        var(--g-color-private-orange-500-solid)
    );
    --g-aikit-ci-color-progress-3: var(
        --g-aikit-ci-progress-3,
        var(--g-color-private-red-500-solid)
    );

    /* === Shimmer === */
    --g-aikit-shimmer-color-from: var(--g-aikit-shimmer-from, rgba(0, 0, 0, 0.35));
    --g-aikit-shimmer-color-to: var(--g-aikit-shimmer-to, rgba(0, 0, 0, 0.85));
    --g-aikit-shimmer-duration: var(--g-aikit-shimmer-time, 2.5s);
    --g-aikit-shimmer-gradient-size: 200%;

    /* === Chat History === */
    --g-aikit-chat-history-width: 360px;
    --g-aikit-chat-history-max-height: 560px;
    --g-aikit-chat-history-item-height: 24px;
}
