@use '../../../styles/variables';

$block: '.#{variables.$ns}input-context';

#{$block} {
    &__chip {
        display: inline-flex;
        align-items: center;
        gap: var(--g-spacing-1);
    }
}
