@use '../../../styles/variables.scss';

$block: '.#{variables.$ns}prompt-box';

#{$block} {
    border-radius: var(--g-border-radius-xl);
    border: 1px solid var(--g-color-line-generic);
    background: var(--g-color-base-float);
    overflow: hidden;
    padding: var(--g-spacing-1) var(--g-spacing-1) var(--g-spacing-1) var(--g-spacing-3);

    &_view_simple {
        display: flex;
        align-items: flex-end;
        gap: var(--g-spacing-2);
    }

    &_view_full {
        display: flex;
        padding: var(--g-spacing-2);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--g-spacing-2);
    }

    &__suggestions {
        padding-bottom: var(--g-spacing-2);
    }
}
