@use '../../../styles/variables';

.#{variables.$ns}chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: var(--g-aikit-chat-container-background);

    &__header {
        display: flex;
        padding: var(--g-aikit-layout-base-padding-m);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--g-spacing-2);
        align-self: stretch;
        background: var(--g-aikit-chat-container-header-background);
    }

    &__content {
        min-height: 0; // Important for proper overflow behavior in child elements
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background: var(--g-aikit-chat-container-content-background);

        padding: 0 var(--g-aikit-layout-base-padding-m) var(--g-spacing-4)
            var(--g-aikit-layout-base-padding-m);
        gap: var(--g-spacing-2);
        flex: 1 0 0;
    }

    &__footer {
        display: flex;
        padding: var(--g-aikit-layout-base-padding-m);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--g-spacing-1);
        align-self: stretch;
        background: var(--g-aikit-chat-container-footer-background);
    }
}
