@use '../../../styles/variables';

$block: '.#{variables.$ns}shimmer';

#{$block} {
    &__container {
        position: relative;
        display: inline-block;

        color: var(--g-aikit-text-primary, inherit);
        mask-image: linear-gradient(
            90deg,
            var(--g-aikit-shimmer-color-from) 0%,
            var(--g-aikit-shimmer-color-from) 40%,
            var(--g-aikit-shimmer-color-to) 50%,
            var(--g-aikit-shimmer-color-from) 60%,
            var(--g-aikit-shimmer-color-from) 100%
        );
        mask-size: var(--g-aikit-shimmer-gradient-size) 100%;
        mask-clip: text;
        mask-clip: text;
        animation: shimmer var(--g-aikit-shimmer-duration) infinite linear;
    }
}

@keyframes shimmer {
    0% {
        mask-position: 200% 50%;
    }
    100% {
        mask-position: 0% 50%;
    }
}
