@use '../../../styles/variables';

$block: '.#{variables.$ns}disclaimer';

#{$block} {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--g-aikit-disclaimer-gap);
    }
}
